<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/common_header.ejs') %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <style>
        body,
        .list-group-item {
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

    </style>
</head>

<body>
    <%- include('./partials/scripts.ejs') %>
    <%- include('./partials/navbar.ejs', {isLoggedIn: iLog}); %>

    <div class="container mt-3">
        <ul class="nav nav-pills d-flex justify-content-center feed-nav flex-column flex-sm-row" role="tablist">
            <li class="nav-item">
                <a id="trendingPill" class="nav-link active" href="#pills-trending" data-toggle="pill"
                    role="tab">Trending</a>
            </li>
            <li class="nav-item">
                <a id="highestRatedPill" class="nav-link" href="#pills-highestRated" data-toggle="pill"
                    role="tab">Highest Rated</a>
            </li>
            <li class="nav-item">
                <% if(iLog && user.utype === 'Customer') { %>
                <a id="personalizedPill" title="The more you rate, the more personalized it'll get!" class="nav-link"
                    href="#pills-personalized" data-toggle="pill" role="tab">Personalized</a>
                <% } else { %>
                <div title="Sign in to unlock personalized feed!">
                    <a id="personalizedPill" class="nav-link disabled" href="#pills-personalized" data-toggle="pill"
                        role="tab">Personalized <i class="bi bi-lock-fill"></i></a>
                </div>
                <% } %>
            </li>
        </ul>
        <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="pills-trending" role="tabpanel">
                <ul class="list-group list-group-flush services-list">
                </ul>
            </div>
            <div class="tab-pane fade" id="pills-highestRated" role="tabpanel">
                <ul class="list-group list-group-flush services-list">
                </ul>
            </div>
            <div class="tab-pane fade" id="pills-personalized" role="tabpanel">
                <ul class="list-group list-group-flush services-list">
                </ul>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            // Load Trending Services by default
            loadServices('trending')

            $(document).on('click', '.nav .nav-item a', function () {
                let order = $(this).attr('id').replace('Pill', '')
                console.log(order)
                loadServices(order)
            })

            function loadServices(order) {

                $.ajax({
                    url: `service/feed/${order}/1`,
                    method: 'get',
                    success: function (response) {
                        console.log('Fetched Services', response);
                        if (!response.error) {
                            $(`#pills-${order} ul`).empty()
                            response.message.forEach(service => {
                                $(`#pills-${order} ul`).append(
                                    `<li class="list-group-item border-0">
                                        <div class="card">
                                            <div class="card-body row">
                                                <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 mb-3 mb-sm-0">
                                                    <img src="img/carpentar.jpg" alt="Admin" class="rounded w-100 h-100">
                                                </div>
                                                <div class="col-sm-7 col-md-8 col-lg-9 col-xl-10">
                                                    <div class="d-flex justify-content-between">
                                                        <h4 class="card-title">${service.name}</h4>
                                                        <% if (iLog && user.utype === 'Customer') { %>
                                                        <a id="${service._id}" title="Add to Watchlist" class="btn btn-watchlist p-0">
                                                            <i class="bi bi-bookmark-heart"></i>
                                                        </a>
                                                        <% } %>
                                                    </div>
                                                    <p class="card-text">${service.desc}</p>
                                                    <h5 class="float-left">&#8377; &nbsp;
                                                        ${service.fee + ' ' + service.fee_t}
                                                    </h5>
                                                    <% if (iLog && user.utype === 'Customer') { %>
                                                    <a class="btn btn-sm btn-warning float-right" href="www.google.com">Rate!</a>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                                    class="rounded-circle float-left mr-2" width="50"> -->
                                                <img src="img/favicon.ico" alt="Admin" class="rounded-circle float-left mr-2" width="50">
                                                <div class="float-left">
                                                    <a href="www.google.com"><b>${service.provider.name}</b></a>
                                                    <div class=""><small>Service Provider</small></div>
                                                </div>
                                                <div class="float-right text-right">
                                                    <h5><b>${service.avg_rating} </b><i class="bi bi-star-fill text-warning"></i></h5>
                                                    <div><small>From ${service.ratings.length} ratings</small></div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </li>`)
                            })

                            // Call after services load
                            highlightWatchlist('<%= (iLog && user) ? user.utype : "Guest" %>')
                        } else {
                            console.log('Unable to fetch feed', response.message);
                        }
                    },
                    error: function (response) {
                        alert('server error occured')
                    }
                });
            }

            $(document).on("click", ".btn-watchlist", function () {
                let id = $(this).attr('id')
                let watchlisted = $(this).find('i.bi').hasClass('bi-bookmark-heart-fill')

                if (watchlisted) {
                    $.ajax({
                        url: 'service/removefromwl',
                        method: 'delete',
                        dataType: 'json',
                        data: {
                            'service_id': id
                        },
                        success: function (response) {
                            console.log('Remove Service from watchlist', response);
                            if (!response.error) {
                                console.log('Service removed from watchlist');
                                let elem = $(`#${id}`).find('i.bi')
                                elem.removeClass('bi-bookmark-heart-fill')
                                elem.addClass('bi-bookmark-heart')
                            } else {
                                console.log('Unable to remove from watchlist:', response
                                    .message);
                            }
                        },
                        error: function (response) {
                            alert('server error occured')
                        }
                    });
                } else {
                    $.ajax({
                        url: 'service/addtowl',
                        method: 'put',
                        dataType: 'json',
                        data: {
                            'service_id': id
                        },
                        success: function (response) {
                            console.log('Add Service to watchlist', response);
                            if (!response.error) {
                                console.log(response.message);
                                let elem = $(`#${id}`).find('i.bi')
                                elem.removeClass('bi-bookmark-heart')
                                elem.addClass('bi-bookmark-heart-fill')
                            } else {
                                console.log('Unable to add to watchlist:', response
                                    .message);
                            }
                        },
                        error: function (response) {
                            alert('server error occured')
                        }
                    });
                }
            })

            function highlightWatchlist(utype) {
                if (utype === 'Customer') {
                    let userid = '<%- (iLog && user) ? user._id : null %>'
                    $.ajax({
                        url: `/service/getservices/${userid}`,
                        method: 'get',
                        success: function (response) {
                            console.log('Got response success', response)
                            if (!response.error) {
                                response.message.forEach(service => {
                                    let elem = $(`#${service._id.toString()}`).find('i.bi')
                                    if (elem.length) {
                                        elem.removeClass('bi-bookmark-heart')
                                        elem.addClass('bi-bookmark-heart-fill')
                                    }
                                });
                            }
                        },
                        error: function (response) {
                            console.log('Server error while fetching services')
                        }
                    });
                }
            }
        })

    </script>

</body>

</html>
