<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/common_header.ejs') %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <style>
        body,
        .list-group-item {
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

    </style>
    <link rel="stylesheet" href="css/rating.css">
</head>

<body>
    <%- include('./partials/scripts.ejs') %>
    <%- include('./partials/navbar.ejs', {isLoggedIn: iLog}); %>

    <div class="container mt-3">
        <ul class="nav nav-pills d-flex justify-content-center feed-nav flex-column flex-sm-row" role="tablist">
            <li class="nav-item">
                <a id="trendingPill" class="nav-link active" href="#pills-trending" data-toggle="pill"
                    role="tab">Trending</a>
            </li>
            <li class="nav-item">
                <a id="highestRatedPill" class="nav-link" href="#pills-highestRated" data-toggle="pill"
                    role="tab">Highest Rated</a>
            </li>
            <li class="nav-item">
                <% if(iLog && user.utype === 'Customer') { %>
                <a id="personalizedPill" title="The more services you rate, the more personalized it'll get!"
                    class="nav-link" href="#pills-personalized" data-toggle="pill" role="tab">Personalized</a>
                <% } else { %>
                <% if(iLog && user.utype === 'Service Provider') { %>
                <div title="Only customers have a personalized feed!">
                    <% } else { %>
                    <div title="Sign in to unlock personalized feed!">
                        <% } %>
                        <a id="personalizedPill" class="nav-link disabled" href="#pills-personalized" data-toggle="pill"
                            role="tab">Personalized <i class="bi bi-lock-fill"></i></a>
                    </div>
                    <% } %>
            </li>
        </ul>
        <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="pills-trending" role="tabpanel">
                <ul class="list-group list-group-flush services-list">
                </ul>
            </div>
            <div class="tab-pane fade" id="pills-highestRated" role="tabpanel">
                <ul class="list-group list-group-flush services-list">
                </ul>
            </div>
            <div class="tab-pane fade" id="pills-personalized" role="tabpanel">
                <ul class="list-group list-group-flush services-list">
                </ul>
            </div>
        </div>
    </div>

    <%- include('./modals/rate_service.ejs') %>

    <script>
        $(document).ready(function () {

            // Load Trending Services by default
            loadServices('trending')

            $(document).on('click', '.nav .nav-item a', function () {
                let order = $(this).attr('id').replace('Pill', '')
                console.log(order)
                loadServices(order)
            })

            function loadServices(order) {

                $.ajax({
                    url: `service/feed/${order}/1`,
                    method: 'get',
                    success: function (response) {
                        console.log('Fetched Services', response);
                        if (!response.error) {
                            // Clear all 3 lists, to prevent duplicate ids
                            $(`#pills-trending ul`).empty()
                            $(`#pills-highestRated ul`).empty()
                            $(`#pills-personalized ul`).empty()

                            response.message.forEach(service => {
                                $(`#pills-${order} ul`).append(
                                    `<li class="list-group-item border-0">
                                        <div id="${service._id}" class="card">
                                            <div class="card-body row">
                                                <div class="col-sm-5 col-md-4 col-lg-3 mb-3 mb-sm-0">
                                                    <img src="img/carpentar.jpg" alt="Service" class="rounded img-fluid">
                                                </div>
                                                <div class="col-sm-7 col-md-8 col-lg-9">
                                                    <div class="d-flex justify-content-between">
                                                        <h4 class="card-title">${service.name}</h4>
                                                        <% if (iLog && user.utype === 'Customer') { %>
                                                        <a id="${service._id}_wl" title="Add to Watchlist" class="btn btn-watchlist p-0">
                                                            <i class="bi bi-bookmark-heart"></i>
                                                        </a>
                                                        <% } %>
                                                    </div>
                                                    <p class="card-text">${service.desc}</p>
                                                    <h5 class="float-left">&#8377; &nbsp;
                                                        ${service.fee + ' ' + service.fee_t}
                                                    </h5>
                                                    <% if (iLog && user.utype === 'Customer') { %>
                                                    <a id="${service._id}_rate" class="btn btn-sm btn-warning btn-rate-service float-right">Rate!</a>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <img src="img/avatars/${String(service.provider.avatar).padStart(2,'0')}.jpg" alt="Avatar" class="rounded-circle float-left mr-2"
                                                    width="50" height="50">
                                                <div class="float-left">
                                                    <b><a class="card-sp-name" href="/serviceprovider/${service.provider._id}">${service.provider.name}</a></b>
                                                    <div class=""><small>Service Provider</small></div>
                                                </div>
                                                <div class="float-right text-right">
                                                    <h5><b>${Math.round((service.avg_rating + Number.EPSILON) * 100) / 100} </b><i class="bi bi-star-fill text-warning"></i></h5>
                                                    <div><small>From ${service.ratings.length} ratings</small></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>`)
                            })

                            // Call after services load
                            highlightWatchlist('<%= (iLog && user) ? user.utype : "Guest" %>')
                        } else {
                            console.log('Unable to fetch feed', response.message);
                        }
                    },
                    error: function (response) {
                        alert('server error occured')
                    }
                });
            }

            $(document).on("click", ".btn-rate-service", function () {
                let id = $(this).attr("id")
                let service_id = id.replace('_rate', '')
                let service_card = $(`#${service_id}`)
                let modal = $("#rateServiceModal")

                $('#modalServiceId').text(service_id)

                let userid = '<%- (iLog && user) ? user._id : null %>'

                let modal_sname = $("#serviceName")
                let modal_sp_link = $("#serviceProviderLink")
                let card_sp_name = service_card.find('.card-sp-name')

                modal_sname.text(service_card.find('.card-title').text())
                modal_sp_link.text(card_sp_name.text())
                modal_sp_link.attr("href", `${card_sp_name.attr("href")}`)

                $.ajax({
                    url: `/service/rating/${service_id}/${userid}`,
                    method: 'get',
                    success: function (response) {
                        console.log('Got rating for service', response)
                        if (!response.error) {
                            $('#ratingRemoveText').css('display', 'inline')
                            $('.rating').prop('disabled', true)
                            updateRatingStars(response.message)
                            updateRatingNumber(response.message)
                            $('#rateServiceModalButton').prop('disabled', true)
                        } else {
                            $('#ratingRemoveText').css('display', 'none')
                            $('.rating').prop('disabled', false)
                            updateRatingStars(0)
                            updateRatingNumber(0)
                            console.log(response.message)
                        }
                    },
                    error: function (response) {
                        console.log('Server error while fetching services')
                    }
                });

                modal.modal('show')
            });

            function updateRatingStars(rating) {
                if (rating == 0) {
                    $(`#starhalf`).prop('checked', false)
                    for (var i = 1; i <= 4; i++) {
                        $(`#star${i}`).prop('checked', false)
                        $(`#star${i}half`).prop('checked', false)
                    }
                    $(`#star5`).prop('checked', false)
                } else {
                    $(`#star${(Math.floor(rating) == 0) ? '' : Math.floor(rating)}${(rating == Math.floor(rating)) ? '' : 'half'}`)
                        .prop('checked', true)
                }
            }

            function updateRatingNumber(rating) {
                if (rating == 0) {
                    $(".user-rating").css('display', 'none');
                    $("#rateServiceModalButton").prop('disabled', true)
                } else {
                    $(".user-rating").css('display', 'inline');
                    $("#rateServiceModalButton").prop('disabled', false)
                    if (rating < 3) {
                        $('.user-rating').css('color', 'red');
                    } else {
                        $('.user-rating').css('color', 'green');
                    }
                    $(".user-rating").text(rating);
                }
            }

            $("input[type='radio']").click(function () {
                var rating = $("input[type='radio']:checked").val();
                updateRatingNumber(rating)
            });

            $('#rateServiceModalButton').click(function () {
                let service_id = $('#modalServiceId').text()
                let rating = $("input[type='radio']:checked").val();

                $.ajax({
                    url: 'service/rate',
                    method: 'put',
                    dataType: 'json',
                    data: {
                        'service_id': service_id,
                        'rating': rating
                    },
                    success: function (response) {
                        console.log('Rated Service response', response);
                        if (!response.error) {
                            console.log('New average rating:', response.message);
                            let order = $(".feed-nav").find('.nav-link.active')
                                .attr('id').replace('Pill', '')
                            console.log(order)
                            loadServices(order)
                        } else {
                            console.log('Unable to rate new service', response
                                .message);
                        }
                    },
                    error: function (response) {
                        alert('server error occured')
                    }
                });
            })

            $('#ratingRemoveText a').click(function () {
                let service_id = $('#modalServiceId').text()
                console.log(service_id)

                $.ajax({
                    url: 'service/rate',
                    method: 'delete',
                    dataType: 'json',
                    data: {
                        'service_id': service_id
                    },
                    success: function (response) {
                        console.log('Removed rating response', response);
                        if (!response.error) {
                            console.log('New average rating:', response.message);
                            let order = $(".feed-nav").find('.nav-link.active')
                                .attr('id').replace('Pill', '')
                            console.log(order)
                            $("#rateServiceModal").modal('hide')
                            loadServices(order)
                        } else {
                            console.log('Unable to remove rating', response
                                .message);
                        }
                    },
                    error: function (response) {
                        alert('server error occured')
                    }
                });
            })

            $(document).on("click", ".btn-watchlist", function () {
                let id = $(this).attr('id')
                let service_id = id.replace('_wl', '')
                let watchlisted = $(this).find('i.bi').hasClass('bi-bookmark-heart-fill')

                if (watchlisted) {
                    $.ajax({
                        url: 'service/removefromwl',
                        method: 'delete',
                        dataType: 'json',
                        data: {
                            'service_id': service_id
                        },
                        success: function (response) {
                            console.log('Remove Service from watchlist', response);
                            if (!response.error) {
                                console.log('Service removed from watchlist');
                                let elem = $(`#${id}`).find('i.bi')
                                elem.removeClass('bi-bookmark-heart-fill')
                                elem.addClass('bi-bookmark-heart')
                            } else {
                                console.log('Unable to remove from watchlist:', response
                                    .message);
                            }
                        },
                        error: function (response) {
                            alert('server error occured')
                        }
                    });
                } else {
                    $.ajax({
                        url: 'service/addtowl',
                        method: 'put',
                        dataType: 'json',
                        data: {
                            'service_id': service_id
                        },
                        success: function (response) {
                            console.log('Add Service to watchlist', response);
                            if (!response.error) {
                                console.log(response.message);
                                let elem = $(`#${id}`).find('i.bi')
                                elem.removeClass('bi-bookmark-heart')
                                elem.addClass('bi-bookmark-heart-fill')
                            } else {
                                console.log('Unable to add to watchlist:', response
                                    .message);
                            }
                        },
                        error: function (response) {
                            alert('server error occured')
                        }
                    });
                }
            })

            function highlightWatchlist(utype) {
                if (utype === 'Customer') {
                    let userid = '<%- (iLog && user) ? user._id : null %>'
                    $.ajax({
                        url: `/service/getservices/${userid}`,
                        method: 'get',
                        success: function (response) {
                            console.log('Got watchlisted services', response)
                            if (!response.error) {
                                response.message.forEach(service => {
                                    let elem = $(`#${service._id.toString()}_wl`).find(
                                        'i.bi')
                                    if (elem.length) {
                                        elem.removeClass('bi-bookmark-heart')
                                        elem.addClass('bi-bookmark-heart-fill')
                                    }
                                });
                            }
                        },
                        error: function (response) {
                            console.log('Server error while fetching services')
                        }
                    });
                }
            }
        })

    </script>

</body>

</html>
