<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/common_header.ejs') %>
    <style>
        .list-group-item {
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

    </style>
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/rating.css">
</head>

<body>
    <%- include('./partials/scripts.ejs') %>
    <%- include('./partials/navbar.ejs', {isLoggedIn: iLog}); %>

    <div class="container mt-3">
        <form class="search-form mt-5">
            <input class="search-input" type="search">
            <i class="bi bi-search"></i>
        </form>
        <div id="search-results" role="tabpanel">
            <ul class="list-group list-group-flush services-list">
            </ul>
        </div>
    </div>

    <%- include('./partials/rate_service.ejs', {user_obj: user, isLoggedIn: iLog, page: 'search'}); %>
    <%- include('./partials/watchlist.ejs', {user_obj: user, isLoggedIn: iLog, page: 'search'}); %>

    <script>
        $(document).ready(function () {

            $('.bi-search').click(function () {
                loadSearchResults()
            });

            $(".search-form").submit(function () {
                loadSearchResults()
                return false;
            })

            loadSearchResults()
        });

        function loadSearchResults() {
            $(`#search-results ul`).empty()

            let key = $('.search-input').val()

            if (!key) {
                $(`#search-results ul`).append(
                    `<li class="list-group-item text-muted text-center">
                        Your search results will appear here
                    </li>`
                )
                return;
            }

            $.ajax({
                url: `/service/search/${key}`,
                method: 'get',
                success: function (response) {
                    console.log('Fetched Services', response);
                    if (!response.error) {
                        if (response.message.length === 0) {
                            $(`#search-results ul`).append(
                                `<li class="list-group-item text-muted text-center">
                                    No search results found for <i>"${key}"</i> 
                                </li>`
                            )
                        }
                        response.message.forEach(service => {
                            $(`#search-results ul`).append(
                                `<li class="list-group-item border-0">
                                        <div id="${service._id}" class="card">
                                            <div class="card-body row">
                                                <div class="col-sm-5 col-md-4 col-lg-3 mb-3 mb-sm-0">
                                                    <img src="/${service.image ? service.image : 'uploads/default.png'}" alt="Service" class="rounded img-fluid">
                                                </div>
                                                <div class="col-sm-7 col-md-8 col-lg-9">
                                                    <div class="d-flex justify-content-between">
                                                        <h4 class="card-title">${service.name}</h4>
                                                        <% if (iLog && user.utype === 'Customer') { %>
                                                        <a id="${service._id}_wl" title="Add to Watchlist" class="btn btn-watchlist p-0">
                                                            <i class="bi bi-bookmark-heart"></i>
                                                        </a>
                                                        <% } %>
                                                    </div>
                                                    <p class="card-text">${service.desc}</p>
                                                    <h5 class="float-left">&#8377; &nbsp;
                                                        ${service.fee + ' ' + service.fee_t}
                                                    </h5>
                                                    <% if (iLog && user.utype === 'Customer') { %>
                                                    <a id="${service._id}_rate" class="btn btn-sm btn-warning btn-rate-service float-right">Rate!</a>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <img src="/img/avatars/${String(service.provider.avatar).padStart(2,'0')}.jpg" alt="Avatar" class="rounded-circle float-left mr-2"
                                                    width="50" height="50">
                                                <div class="float-left">
                                                    <b><a class="card-sp-name" href="/serviceprovider/${service.provider._id}">${service.provider.name}</a></b>
                                                    <div class=""><small>Service Provider</small></div>
                                                </div>
                                                <div class="float-right text-right">
                                                    <h5><b>${Math.round((service.avg_rating + Number.EPSILON) * 100) / 100} </b><i class="bi bi-star-fill text-warning"></i></h5>
                                                    <div><small>From ${service.ratings.length} ratings</small></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>`)
                        })

                        // Call after services load
                        highlightWatchlist(
                            '<%= (iLog && user) ? user.utype : "Guest" %>')
                    } else {
                        console.log('Unable to fetch feed', response.message);
                    }
                },
                error: function (response) {
                    alert('server error occured')
                }
            });
        }

    </script>

</body>

</html>
